:root{
    /*Colors*/
    --slate-9: rgb(31,49,79);
    --slate-5: rgb(104,119,141);
    --slate-3: rgb(213,225,239);
    --white: rgb(255,255,255);
}

html{
    min-height: 100%;
    margin: 0;
    
}

body{
    min-height: 100vh;
    margin: 0;
    background-color: var(--slate-3);
}

.qr-box{
    height: 600px;
    width: 400px;
   background-color: var(--white);
    position: fixed;
    inset: 0px;
   margin: auto;
   border-radius: 20px;
  
   text-align: center;
   box-shadow: 10px 10px 50px;
   
   
}

.qr-code{
    height: 360px;
    border-radius: 20px;
    margin-top: 20px;
    
    
    
}

h1{
    font-family: 'Outfit';
    color: var(--slate-9);
    
}

p{
    font-family: 'Outfit';
    color: var(--slate-5);
    margin: 0 70px;
    
}
